.letraFusia{
    color :#dc0380;
}

.letraMorada{
    color: #6d2a78;
}

.letraRosa{
    color: #d998bf;
}

.letraBlanca{
    color: white;
}

.btnFusia{
    background-color :#dc0380;
}

.btnMorado{
    background-color: #6d2a78;
}

.btnRosa{
    background-color: #d998bf;
}
