{% extends 'base_app.html' %}
{% block content %}
<div class="text-center"><h2>Historial Pedidos</h2></div>

<table id="myTable" class="table">
    <thead>
      <tr>
        <th scope="col"># Pedido</th>
        <th scope="col">Fecha Hora Entrega</th>
        <th scope="col">Cliente</th>
        <th scope="col">Estatus</th>
        <th>Acciones</th>
        <th>descripcion</th>
      </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script>
$(document).ready(function () {
    $('#myTable').DataTable({
        processing: true,
        serverSide: true,
        language: {
            url: '//cdn.datatables.net/plug-ins/2.0.5/i18n/es-ES.json',
        },
        ajax: {
            url: "/api/pedidos/datatable/",
            dataSrc: 'data'
        },
        columns: [
            { data: 'id' },
            { data: 'fecha_entrega_formateada' },
            { data: 'cliente_nombre' },
            {
                data: 'estatus_display'
            },
            {
                data: 'id',
                render: function (data) {
                    return `<a href="pedido/${data}" class="btn btn-primary btn-sm">Visualizar</a>`;
                }
            },
            { data: 'descripcion', visible: false, searchable: true }
        ],
        language: {
            // url: '/static/es-ES.json'  // si usas traducción
        }
    });
});

/*
$(document).ready(function() {
  $('#myTable').DataTable({
    paging: true,
    searching: true,
    ordering: true,
    language: {
       // url: 'static/es-ES.json',
    },columnDefs: [
      {
        targets: 5, // Índice de la columna "Descripción" (0 basado)
        visible: false, // Oculta la columna
        searchable: true // Permite que su contenido se busque
      },
    ]
    
    // Más opciones aquí
  });
});
*/

</script>

{% endblock %}