{% extends 'base_app.html' %}
{% block content %}
<div class="text-center"><h2>Historial Pedidos</h2></div>

<table id="myTable" class="table">
    <thead>
      <tr>
        <th scope="col"># Pedido</th>
        <th scope="col">Fecha Hora Entrega</th>
        <th scope="col">Cliente</th>
        <th scope="col">Estatus</th>
        <th>Acciones</th>
        <th>descripcion</th>
      </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <th scope="row">{{pedido.id}}</th>
            <td>{{ pedido.fecha_entrega | date}}</td>
            <td>{{ pedido.cliente.nombre_cliente }}</td>
            <td> {% if pedido.estatus == 0 %} {{"Cancelado"}} {% elif pedido.estatus == 1 %} {{"En espera"}}{% elif pedido.estatus == 2 %} {{"Entregado"}} {% endif %} </td>
            <td>
                <a href="pedido/{{pedido.id}}" class="btn btn-primary btn-sm">Visualizar</a>
            </td>
            <td>{{ pedido.descripcion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script>
$(document).ready(function() {
  $('#myTable').DataTable({
    paging: true,
    searching: true,
    ordering: true,
    language: {
       // url: 'static/es-ES.json',
    },columnDefs: [
      {
        targets: 5, // Índice de la columna "Descripción" (0 basado)
        visible: false, // Oculta la columna
        searchable: true // Permite que su contenido se busque
      },
    ]
    
    // Más opciones aquí
  });
});

</script>

{% endblock %}