{% extends 'base_app.html' %}
{% load static %}
{% block content %}
<div style="text-align: center;"><h1>{{ tituloForm }}</h1></div>

<form id="formulario" action="{% url 'create_pedido' %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        document.getElementById("imgShow").style = "display : block";
        $('#imgShow').attr('src', e.target.result).width(250).height(300);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
let idPedido = "{{ idPedido }}";
let pedido = {} ;
window.onload = async (e) =>{
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  const headers = {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
  }
  if(idPedido != "None"){
    let params = {
      url : `api/pedidos/${idPedido}`,
      body : {},
      headers
    }
    pedido = await restService.get(params);
    console.log(pedido)
    const fecha = new Date(pedido.fecha_entrega);
    const fechaFormateada = `${fecha.getFullYear()}-${(fecha.getMonth() + 1).toString().padStart(2, '0')}-${fecha.getDate().toString().padStart(2, '0')}T${fecha.getHours().toString().padStart(2, '0')}:${fecha.getMinutes().toString().padStart(2, '0')}`;
    document.getElementById("fecha_entrega").value = fechaFormateada
    formMapper.mapToForm(['descripcion','tamano','costo','anticipo'] , pedido);
    formMapper.mapToForm(['nombre_cliente','celular'] , pedido.cliente);
  }
  
  const formulario = document.getElementById('formulario');

  formulario.addEventListener('submit', async function(event) {
    // Evitamos que se envíe el formulario automáticamente
    event.preventDefault();
    console.log("Previniendo")
   
    const datosJson = formMapper.mapFormToJson(formulario);

    // Imprimir los datos en formato JSON
    console.log(datosJson);
    datosJson['idPedido'] = idPedido ; 
    let params = {
      url : `api/pedidos/crearactualizar`,
      body : datosJson,
      headers
    }
    let result ; 
    if(idPedido == "None")
    {
      result = await restService.post(params);
    }else{
      result = await restService.patch(params);
    }
    console.log(result);
    Swal.fire({
      title: "<strong>Pedido Registrado Con Exito</strong>",
      icon: "success",
      html: ``,
      showCloseButton: true,
      showCancelButton: false,
      focusConfirm: false,
      confirmButtonText: `
        <a class="btn btn-primary" href="/agenda/">Aceptar</a>
      `,
      confirmButtonAriaLabel: "Thumbs up, great!",
      cancelButtonText: `
        <i class="fa fa-thumbs-down"></i>
      `,
      cancelButtonAriaLabel: "Thumbs down"
    });
     
  });

}
</script>
{% endblock %}
