{% extends 'base_app.html' %}
{% block content %}
<div class="text-center"><h2 class="letraFusia">Pedidos Pendientes</h2></div>
{% csrf_token %}
<table id="myTable" class="table">
    <thead>
      <tr>
        <th scope="col" style="color: #6d2a78;">Fecha Hora Entrega</th>
        <th scope="col" style="color: #6d2a78;">Cliente</th>
        <th></th>
        <th>descripcion</th>
      </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <td scope="row" style="color: #d998bf">{{ pedido.fecha_entrega }}</td>
            <td style="color: #d998bf">{{ pedido.cliente.nombre_cliente }}</td>
            <td>
                <a href="pedido/{{pedido.id}}" class="btn btnFusia letraBlanca btn-sm">Visualizar</a>
                <button onclick="preguntarEntregar('{{pedido.id}}')" class="btn btnMorado letraBlanca btn-sm">Entregar</button>
                <button onclick="preguntarCancelar('{{pedido.id}}')" class="btn btnRosa letraBlanca btn-sm">Cancelar</button>
            </td>
            <td>
              {{ pedido.descripcion }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script>
  
  let headers = {
        'Content-Type': 'application/json'
  }
  window.onload = async (e) =>{
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    headers['X-CSRFToken'] = csrftoken ;
  }
  async function preguntarEntregar(id){
    //alert(id)
    let respuestaDialog = await Swal.fire({
            title: 'Confirma la entrega del pedido',
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: 'Si',
            denyButtonText: `No`,
          }) ; 
    if(respuestaDialog.isConfirmed){
      let datosJson ={
        "idPedido" : parseInt(id),
        "estado": 2
      }
      let params = {
        url : `api/pedidos/actualizarestado`,
        body : datosJson,
        headers
      }
      let result = await restService.patch(params);
      console.log(result)
      let respuestaDialog2 = await Swal.fire({
            title: 'Pedido Confirmado Con Exito',
            showDenyButton: false,
            showCancelButton: false,
            confirmButtonText: 'Aceptar',
            denyButtonText: `No`,
            allowOutsideClick: false,
            allowEscapeKey: false,
          }) ;
      if(respuestaDialog2.isConfirmed){
        window.location.reload()
      }
      
    }
  }

  async function preguntarCancelar(id){
    let respuestaDialog = await Swal.fire({
            title: 'Confirma la cancelacion del pedido',
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: 'Si',
            denyButtonText: `No`,
          }) ; 
    if(respuestaDialog.isConfirmed){
      let datosJson ={
        "idPedido" : parseInt(id),
        "estado": 0
      }
      let params = {
        url : `api/pedidos/actualizarestado`,
        body : datosJson,
        headers
      }
      let result = await restService.patch(params);
      console.log(result)
      let respuestaDialog2 = await Swal.fire({
            title: 'Pedido Cancelado',
            showDenyButton: false,
            showCancelButton: false,
            confirmButtonText: 'Aceptar',
            denyButtonText: `No`,
            allowOutsideClick: false,
            allowEscapeKey: false,
          }) ;
      if(respuestaDialog2.isConfirmed){
        window.location.reload()
      }
      
    }
  }
  $(document).ready(function() {
  $('#myTable').DataTable({
    paging: true,
    searching: true,
    ordering: true,
    order: [[0, 'asc']],
    language: {
        url: '//cdn.datatables.net/plug-ins/2.0.5/i18n/es-ES.json',
    },
    columnDefs: [
      {
        targets: 3, // Índice de la columna "Descripción" (0 basado)
        visible: false, // Oculta la columna
        searchable: true // Permite que su contenido se busque
      },
      {
        targets: 0,  // Cambia este número por el índice de la columna de fecha
        render: function (data, type, row) {
            if (type === 'sort') {
                // Extraer la fecha y convertirla a un formato que JavaScript pueda entender
                var parts = data.split(' a las ');
                var dateParts = parts[0].split(' de ');
                var day = parseInt(dateParts[0], 10);
                var month = getMonthFromName(dateParts[1]);
                var year = parseInt(dateParts[2], 10);
                var time = parts[1];
                var fullDate = new Date(year, month, day, time.split(':')[0], time.split(':')[1]);
                return fullDate.getTime();  // Devolver el timestamp para la ordenación
            }
            return data;  // Devolver el valor sin modificar para mostrarlo en la tabla
        }
      }
    ]
    // Más opciones aquí
  });

  function getMonthFromName(monthName) {
        var months = {
            'Enero': 0,
            'Febrero': 1,
            'Marzo': 2,
            'Abril': 3,
            'Mayo': 4,
            'Junio': 5,
            'Julio': 6,
            'Agosto': 7,
            'Septiembre': 8,
            'Octubre': 9,
            'Noviembre': 10,
            'Diciembre': 11
        };
        return months[monthName];
    }
});

</script>
{% endblock %}
