{% extends 'base_app.html' %}
{% load static %}
{% block content %}
<div style="text-align: center;"><h1>{{tituloForm}}</h1></div>

<form id="formulario" action="{% url 'create_pedido' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="mb-3">
      <label for="fechaEntrega" class="form-label">Fecha de Entrega</label>
      <input type="datetime-local" class="form-control" id="fecha_entrega" name="fechaEntrega">
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <input type="text" class="form-control" id="descripcion" name="descripcion">
    </div>
    <div class="mb-3">
      <label for="tamano" class="form-label">Tamaño</label>
      <input type="text" class="form-control" id="tamano" name="tamano">
    </div>
    <div class="mb-3">
      <label for="costo" class="form-label">Costo</label>
      <input type="text" class="form-control" id="costo" name="costo">
    </div>
    <div class="mb-3">
      <label for="anticipo" class="form-label">Anticipo</label>
      <input type="text" class="form-control" id="anticipo" name="anticipo">
    </div>
    <div class="mb-3">
      <label for="nombreCliente" class="form-label">Nombre del Cliente</label>
      <input list="clientes" type="text" class="form-control" id="nombre_cliente" name="nombreCliente" autocomplete="off">
      <datalist id="clientes">
        {% for cliente in clientes %}
          <option value="{{ cliente.nombre_cliente }}">{{ cliente.nombre_cliente }}</option>
        {% endfor %}
      </datalist>
    </div>
    <div class="mb-3">
      <label for="celular" class="form-label">Celular</label>
      <input type="text" class="form-control" id="celular" name="celular">
    </div>
    <div class="mb-3">
      <label for="imagen" class="form-label">Foto pedido</label>
      <input type="file" class="form-control" id="imagen" name="imagen" onchange="readURL(this);" accept="image/jpeg,image/png,image/gif">
      <img id="imgShow" src="#" alt="Imagen Pedido" style="display: none;" />
      <div id="noImage">Sin Imagen Registrada</div>
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        document.getElementById("imgShow").style = "display : block";
        $('#imgShow').attr('src', e.target.result).width(250).height(300);
        document.getElementById("noImage").style = "display : none";
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
let idPedido = "{{idPedido}}";
let pedido = {} ;
window.onload = async (e) =>{
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  const headers = {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
  }
  if(idPedido != "None"){
    let params = {
      url : `api/pedidos/${idPedido}`,
      body : {},
      headers
    }
    pedido = await restService.get(params);
    console.log(pedido)
    const fecha = new Date(pedido.fecha_entrega);
    const fechaFormateada = `${fecha.getFullYear()}-${(fecha.getMonth() + 1).toString().padStart(2, '0')}-${fecha.getDate().toString().padStart(2, '0')}T${fecha.getHours().toString().padStart(2, '0')}:${fecha.getMinutes().toString().padStart(2, '0')}`;
    // Fecha en UTC desde el backend
    const dateFromBackend = pedido.fecha_entrega.split("T");
    console.log(dateFromBackend)


    //console.log("Fecha convertida ? " , localDate.toISOString().slice(0, 16));

    document.getElementById("fecha_entrega").value = fechaFormateada
    formMapper.mapToForm(['descripcion','tamano','costo','anticipo','celular'] , pedido);
    formMapper.mapToForm(['nombre_cliente'] , pedido.cliente);
    

    if(pedido.imagenUrl != null){
      /*
      const byteCharacters = atob(pedido.imagen);
      const byteNumbers = new Array(byteCharacters.length);
      for (let i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      const byteArray = new Uint8Array(byteNumbers);
      const blob = new Blob([byteArray], { type: 'image/jpeg' });
      const blobUrl = URL.createObjectURL(blob);
      document.getElementById("imgShow").style = "display : block";
      $('#imgShow').attr('src', e.target.result).width(450).height(400);
      document.getElementById("imgShow").src = blobUrl ;
      document.getElementById("noImage").style = "display : none";
      */
      document.getElementById("imgShow").style = "display : block";
      $('#imgShow').attr('src', e.target.result).width(250).height(300);
      document.getElementById("imgShow").src = pedido.imagenUrl ;
      document.getElementById("noImage").style = "display : none";
    }
    
  }
  
  const formulario = document.getElementById('formulario');

  formulario.addEventListener('submit', async function(event) {
    // Evitamos que se envíe el formulario automáticamente
    event.preventDefault();
    console.log("Previniendo")
   
    const datosJson = formMapper.mapFormToJson(formulario);

    // Imprimir los datos en formato JSON
    
    console.log(datosJson);
    datosJson['idPedido'] = idPedido ; 
    let params = {
      url : `api/pedidos/crearactualizar`,
      body : datosJson,
      headers
    }
    let result ; 
    const imagen = document.getElementById('imagen').files[0];
      console.log("wo a ver que tiene imagen")
    if(idPedido == "None")
    {
      result = await restService.post(params);
      console.log(result);
      idPedido = result.idPedido
    }else{
      result = await restService.patch(params);
      //console.log(imagen)
        // Creamos un nuevo FormData para enviar la imagen
    }
    let formDataImagen = new FormData();
    if(imagen != undefined){
      formDataImagen.append('imagen', imagen);
    }
    formDataImagen.append('idPedido', idPedido);
    const options = {
      method: 'POST',
      headers: {
        //'Content-Type': 'multipart/form-data;',
        'X-CSRFToken': csrftoken,
        //'User-Agent': 'insomnia/9.1.0'
      }
    };
    options.body = formDataImagen;
    //const urlServer = 'http://localhost:8000/api/pedidos/imagen' ; //Desarrollo
    const urlServer = 'https://app-pasteleria-production.up.railway.app/api/pedidos/imagen' ; //produccion
    fetch(urlServer, options)
      .then(response => response.json())
      .then(response => {
        console.log("Pase del then")
        console.log(response)})
      .catch(err => {
        console.log("Trono esta chingadera")
        console.error(err)
      });
    
    console.log(result);
    Swal.fire({
      title: "<strong>Pedido Guardado Con Exito</strong>",
      icon: "success",
      html: `En caso de que no se guarde la imagen, favor de subirlo de nuevo, en caso de que no se guarde, favor de enviarle este folio al Administrador: ${idPedido}` ,
      showCloseButton: true,
      showCancelButton: false,
      focusConfirm: false,
      confirmButtonText: `
        <a class="btn btn-primary" href="/agenda/pedido/${idPedido}">Aceptar</a>
      `,
      confirmButtonAriaLabel: "Thumbs up, great!",
      cancelButtonText: `
        <i class="fa fa-thumbs-down"></i>
      `,
      cancelButtonAriaLabel: "Thumbs down"
    });
     
  });
}
</script>
{% endblock %}